*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto',sans-serif;
}
body{
	background-color:#f6f4e6;
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
}
div.capa{
	position: absolute;
	width: 100%;
	height: 100vh;	
	z-index: -1;
	top: 0;
	left: 0;
}

/*Estilos para el encabezado*/
.header{
	width: 100%;
	height: 70px;
	background-color: #0f4c75;/*Menu superior*/
	box-shadow: 0px 2px 5px #52575d;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
}
section.container{
	width: 90%;
	max-width: 1200px;
	margin: auto;
}
section.container .btn-menu, .logo{
	float: left;
	line-height: 70px;
}
section.container .btn-menu label{
	color: #f6f4e6;
	font-size: 25px;
	cursor: pointer;
}
section.logo h1{

	font-weight: 400;
	font-size: 22px;
	margin-left: 10px;
}
section.logo a{
	color: #f6f4e6;
	text-decoration: none;
}
section.container .menu{
	float: right;
	line-height: 70px;
}
section.container .menu a{
	display: inline-block;
	padding: 15px 10px;
	line-height: normal;
	text-decoration: none;
	color: #f6f4e6;/*Menu*/
	transition: all 0.3s ease;
	border-bottom: 2px solid transparent;
	font-size: 15px;
}

section.container-menu .cont-menu a{
	color: white;
}

section.container .menu a:hover{
	border-bottom: 2px solid #fddb3a;
	padding: 5px 10px;
}

/*Fin de Estilos para el encabezado*/

/*Menù lateral*/
#btn-menu{
	display: none;
}
section.container-menu{
	position: absolute;
	background: rgba(0,0,0,0.5);		
	width: 100%;
	height: 54.6em;/**/
	top: 4.4em;
	left: 0;
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
}
section .cont-menu h1{
	font-family: 'Roboto',sans-serif;
	text-align:center;
	color: #f6f4e6;
}

section .cont-menu .con-menu a{
	color: #f6f4e6;	
}
#btn-menu:checked ~ .container-menu{
	opacity: 1;
	visibility: visible;
	
}
.cont-menu{
	width: 100%;
	max-width: 250px;
	background: #0f4c75;		
	height: 54.6em;
	position: relative;
	transition: all 500ms ease;
	transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
	transform: translateX(0%);
}
.cont-menu nav{
	transform: translateY(15%);
}
.cont-menu nav a{
	display: block;
	text-decoration: none;
	padding: 20px;
	color: #41444b;
	border-left: 5px solid transparent;
	transition: all 400ms ease;
}
.cont-menu nav a:hover{
	color: #f6f4e6;
	border-left: 5px solid #fddb3a;
	background: #52575d;	
}
.cont-menu label{
	position: absolute;
	right: 5px;
	top: 10px;
	color: #f6f4e6;
	cursor: pointer;
	font-size: 18px;
}

/*Fin de Menù lateral*/

/************************************************************/
main {
    margin-top: 4.3em;
    background-color: #f6f4e6
}

.title1{
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 30px;
}

.apoyo{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 30px;
    background-color: rgb(255, 255, 255);
	border-top: 6px solid #FDDB3A;
	box-shadow: 0px 5px 5px gray
}

.apoyo p{
    font-size: 18px;
    text-align: justify;
}

.apoyo img{
	width:200px;
	height: 200px;
	float: left;
	border-radius: 100px;
    margin-right: 12px;
}

/************************************************************/

section.info{
	margin: auto;
	max-width: 1000px;
	margin-top: 1em;
	margin-bottom: 1em;
	border-top: 6px solid #fd3a3a;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 5px 5px gray;
	padding: 30px;
}

section.info .title2{
	text-align: center;
	font-size: 25px;
	margin-bottom: 1em;
}

section.info p{
	text-align: justify;
	font-size: 18px;
}

section.info .formulario{
	width: 600px;
	padding: 30px;
	margin: auto;
	margin-top: 20px;
	border-radius: 4px;
	background-color:  #fddb3a;
}

section.info .formulario h3{
	text-align: center;
	margin-bottom: 30px;
	font-size: 25px;
}

.campos{
	width: 100%;
	background-color: #ffffff;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 10px;
	font-size: 16px;
	border: 2px solid rgb(255, 255, 255);
}

.campos:hover{
	border:2px solid #000000;
}

#txtOpinion{
	height: 100px;
	resize: none;
}

.boton{
    font-size: 1rem;
    border: 3px solid #000000;
    padding: 1em 2em;
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	background-color: #0f4c75;
	border-radius: 10px;
	width: 100%;
}

.boton:hover{
	background-color: #1b699e;
}

fieldset{
	margin: auto;
	margin-bottom: 20px;
	width: 50%;
}

section.info .formulario .gen{
	padding: 1em;
}

.opc{
	margin-right: 1.5em;
}

legend{
	text-align: center;
}

/************************************************************/

footer
{
	width: 100%;
	background: #0f4c75;
	color: #f6f4e6;
	padding-top: 40px;
}

.contairner-footer-all
{
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 40px;
}
.container-body
{
	display: flex;
	justify-content: space-between;
}
.colum1
{
	max-width: 400px;

}
.colum1 h1
{
	font-size: 22px;
}
.colum1 p
{
	font-size: 14px;
	color: #f6f4e6;
	margin-top: 70px;
}
.colum2 
{
	max-width: 400px;
}
.colum2 h1
{
	font-size: 22px;
}
.row
{
	margin-top: 20px;
	display: flex;
}
.row img
{
	width: 36px;
	height: 36px;
}
.row label
{
	margin-top: 10px;
	margin-left: 20px;
	color: #f6f4e6;
}

.colum3 
{
	max-width: 400px;
}
.colum3 h1
{
	font-size: 22px;
}
.row2
{
	margin-top: 20px;
	display: flex;
}
.row2 img
{
	width: 36px;
	height: 36px;
}
.row2 label
{
	margin-top: 10px;
	margin-left: 20px;
	max-width: 140px;
}
.container-footer
{
	width: 100%;
	background: #1b262c;
}
.footer
{
	max-width: 1200px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	padding: 20px;
}
.copyright 
{
	color: #f6f4e6;
}
.copyright a
{
	text-decoration: none;
	color: #f6f4e6;
}
.information a
{
	text-decoration: none;
	color: #f6f4e6;
}





